.git
.gitignore
.gitattributes
.idea
.vscode

webview/node_modules
webview/dist
node_modules

logs
libs
obj_data
obj_temp
bin

__pycache__
.pytest_cache
.ruff_cache
*.py[cod]

*.tar
*.tar.gz
*.tgz
*.tmp
